*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0; /* Ensure there's no margin on the body */
    background: linear-gradient(300deg, blue, green, yellow);
    background-size: 300% 300%; /* Increase background size for smoother transition */
    animation: gradient-animation 30s ease infinite; /* Adjusted duration for slower animation */
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BACKGROUND KEYFRAMES */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h3{
    color:#ffffff;
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-top: -10px;
    position:absolute;
    top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.loginBox{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;
    border-radius: 5px;
}

input{
    border: 1px solid black;
    height: 40px;
    margin-top: 30px;
    width: 70%;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 8px;


}
#btn{
    background:#024e31;
    color: white;
    height: 40px;
    width: 70%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}